{% extends '@OpportusUser/layout.html.twig' %}

{% block opportus_user_content %}
    {{ parent() }}
    <h1>{% block title %}Login{% endblock title %}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
    {{ form_end(form) }}
    <ul class="list-group list-unstyled">
        <li><a href="{{ url('opportus_user_sign_up') }}">Register</a></li>
        <li><a href="{{ url('opportus_user_request_reset_password') }}">Forgot Password ?</a></li>
    </ul>
{% endblock opportus_user_content %}
