{% extends '@OpportusUser/layout.html.twig' %}

{% block opportus_user_content %}
    {{ parent() }}
    <h1>{% block title %}Registration{% endblock title %}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
    {{ form_end(form) }}
    <ul class="list-group list-unstyled">
        <li><a href="{{ url('opportus_user_sign_in') }}">Already an account ?</a></li>
    </ul>
{% endblock opportus_user_content %}
