{% if form.id.vars.value %}
    {% set action       = url('put_trick_comment_by_edit_form', {'id': form.id.vars.value}) %}
    {% set ajaxAction   = 'updateTrickComment' %}
    {% set bodyLayout   = 'col-12' %}
    {% set buttonLayout = 'col-12 mt-3' %}
    {% set buttonLabel  = 'trick_comment.edit.form.label.submit.update' %}
{% else %}
    {% set action = url('post_trick_comment_by_edit_form') %}
    {% if form.parent.vars.value == '' %}
        {% set ajaxAction   = 'createTrickComment' %}
        {% set bodyLayout   = 'col-12 col-md-8' %}
        {% set buttonLayout = 'col-12 col-md-2 mt-3 mt-md-0 float-md-right' %}
        {% set buttonLabel  = 'trick_comment.edit.form.label.submit.create' %}
    {% else %}
        {% set ajaxAction   = 'replyTrickComment' %}
        {% set bodyLayout   = 'col-12' %}
        {% set buttonLayout = 'col-12 mt-3' %}
        {% set buttonLabel  = 'trick_comment.edit.form.label.submit.reply' %}
    {% endif %}
{% endif %}
<div class="row py-3">
    <div class="trick-comment-edit col-12">
        {{ form_start(form, {'attr': {'action': action,'id': 'trick-comment-edit-' ~ random(), 'class': 'row'}}) }}
            {{ form_errors(form) }}
            <div class="trick-comment-edit-body {{ bodyLayout }}">
                {{ form_errors(form.body) }}
                {{ form_widget(
                    form.body,
                    {
                        'label': null,
                        'attr': {
                            'class': 'form-control-sm',
                            'rows': '1',
                            'style': 'overflow:hidden;width:100%;',
                        }
                    }
                ) }}
            </div>
            <div class="trick-comment-edit-submit {{ buttonLayout }}">
                {{ form_widget(
                    form.submit,
                    {
                        'label': buttonLabel,
                        'attr': {
                            'type': 'button',
                            'class': 'btn btn-secondary btn-sm ajax-action',
                            'data-action': ajaxAction,
                            'disabled': 'disabled'
                        }
                    }
                ) }}
            </div>
            {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
