<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            {% block meta %}
                <!-- Meta ============================================================== -->
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <meta name="description" content="{% block description %}{{ app_name }}{% endblock %}" />
                <meta name="author" content="{% block author %}{{ app_name }}{% endblock %}" />
                <title>{% block title %}{{ app_name }}{% endblock title %}</title>
            {% endblock meta %}
            {% block icons %}
                <!-- Icons ============================================================= -->
                <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
                <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />
                <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-touch-icon-57x57.png') }}" />
                <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-touch-icon-72x72.png') }}" />
                <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-touch-icon-76x76.png') }}" />
                <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-touch-icon-114x114.png') }}" />
                <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}" />
                <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-touch-icon-144x144.png') }}" />
                <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-touch-icon-152x152.png') }}" />
                <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon-180x180.png') }}" />
            {% endblock icons %}
            {% block fonts %}
                <!-- Fonts ============================================================= -->
		        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            {% endblock fonts %}
            {% block stylesheets %}
                <!-- Stylesheets ======================================================= -->
                <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" />
		        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
		        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
            {% endblock stylesheets %}
        </head>
    {% endblock head %}
    {% block body %}
        <body>
            {% block navbar %}
                <!-- Navbar ============================================================ -->
                <nav class="navbar navbar-expand-md navbar-light bg-light">
                    <a class="navbar-brand" href="{{ path('index') }}">
                        <img src="{{ asset('snowtricks-logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="SnowTricks">
                        {{ app_name }}
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('index') }}#tricks">Tricks</a>
                            </li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_sign_out') }}">Sign Out</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_sign_in') }}">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('user_sign_up') }}">Sign Up</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            {% endblock navbar %}
            {% block content %}
                <!-- Content =========================================================== -->
                {% block flash %}
                    <!-- Notification ================================================== -->
                    {% if app.request.hasPreviousSession %}
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endblock flash %}
            {% endblock content %}
            {% block footer %}
                <!-- Footer ============================================================ -->
                <footer id="footer" class="footer">
                    <span class="copyright">{{ app_name }} Copyright &copy; {{ date()|date('Y') }}</span>
                </footer>
            {% endblock footer %}
            {% block javascripts %}
                <!-- Javascripts ======================================================= -->
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
            {% endblock javascripts %}
        </body>
    {% endblock body %}
</html>
