<!DOCTYPE html>
<html lang="en">
    {% block head %}
        <head>
            {% block meta %}
                <!-- Meta ============================================================== -->
                <meta charset="utf-8" />
                <meta http-equiv="X-UA-Compatible" content="IE=edge" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <meta name="description" content="{% block description %}{% endblock %}" />
                <meta name="author" content="{% block author %}{{ app_name }}{% endblock %}" />
                <title>{% block title %}{% endblock title %}</title>
            {% endblock meta %}
            {% block icons %}
                <!-- Icons ============================================================= -->
                <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon" />
                <link rel="apple-touch-icon" href="{{ asset('img/apple-touch-icon.png') }}" />
                <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/apple-touch-icon-57x57.png') }}" />
                <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/apple-touch-icon-72x72.png') }}" />
                <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/apple-touch-icon-76x76.png') }}" />
                <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/apple-touch-icon-114x114.png') }}" />
                <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/apple-touch-icon-120x120.png') }}" />
                <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/apple-touch-icon-144x144.png') }}" />
                <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/apple-touch-icon-152x152.png') }}" />
                <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/apple-touch-icon-180x180.png') }}" />
            {% endblock icons %}
            {% block fonts %}
                <!-- Fonts ============================================================= -->
                <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
            {% endblock fonts %}
            {% block stylesheets %}
                <!-- Stylesheets ======================================================= -->
                <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
                <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                <link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" />
            {% endblock stylesheets %}
        </head>
    {% endblock head %}
    {% block body %}
        <body>
            {% block bodyOverlay %}
            {% endblock bodyOverlay %}
            {% block navbar %}
                <!-- Navbar ============================================================ -->
                <nav id="navbar" class="navbar navbar-expand-md navbar-dark" style="background-color:#2B2B2B;">
                    {% block logo %}
                        <!-- Logo ============================================================ -->
                        <h1 class="logo">
                            <a class="navbar-brand" href="{{ url('get_home') }}">
                                {{ app_name }}
                            </a>
                        </h1>
                    {% endblock logo %}
                    {% block menu %}
                        <!-- Menu ============================================================ -->
                        <div class="collapse navbar-collapse" id="nav">
                            <ul class="navbar-nav ml-md-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url('get_home') }}" title="{{ 'base.navbar.link.title.home'|trans() }}">
                                        {{ 'base.navbar.link.anchor.home'|trans() }}
                                    </a>
                                </li>
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url('get_trick_edit_empty_form') }}" title="{{ 'base.navbar.link.title.new_trick'|trans() }}">
                                            {{ 'base.navbar.link.anchor.new_trick'|trans() }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url('proceed_user_sign_out') }}" title="{{ 'base.navbar.link.title.sign_out'|trans() }}">
                                            {{ 'base.navbar.link.anchor.sign_out'|trans() }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url('get_user_sign_in_empty_form') }}" title="{{ 'base.navbar.link.title.sign_in'|trans() }}">
                                            {{ 'base.navbar.link.anchor.sign_in'|trans() }}
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ url('get_user_sign_up_empty_form') }}" title="{{ 'base.navbar.link.title.sign_up'|trans() }}">
                                            {{ 'base.navbar.link.anchor.sign_up'|trans() }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    {% endblock menu %}
                </nav>
            {% endblock navbar %}
            {% block content %}
                <!-- Content =========================================================== -->
                {% block notification %}
                    <!-- Notification ================================================== -->
                    {% include 'notification.html.twig' %}
                {% endblock notification %}
                {% block trickDeleteModal %}
                    <!-- Trick delete modal ================================================== -->
                    {% include 'trick/delete-modal.html.twig' %}
                {% endblock trickDeleteModal %}
            {% endblock content %}
            {% block footer %}
                <!-- Footer ============================================================ -->
                <footer id="footer" class="footer mt-5 p-3 bg-dark text-secondary">
                    {{ app_name }} Copyright &copy; {{ date()|date('Y') }}
                </footer>
            {% endblock footer %}
            <i id="arrow-scroll-up" class="arrow-scroll position-fixed fas fa-arrow-up"></i>
            {% block menuMobile %}
                <nav id="mobile-navbar" class="fixed-bottom navbar-light bg-light py-3 w-100">
                    <div class="container">
                        <ul class="list-inline row mb-0">
                            <li class="list-inline-item text-center col"><a href="{{ url('get_home') }}"><i class="fas fa-home"></i></a></li>
                            <li class="list-inline-item text-center col"><a href="{{ url('get_home') }}"><i class="fas fa-stream"></i></a></li>
                            <li class="list-inline-item text-center col"><a href="{{ url('get_user_sign_in_empty_form') }}"><i class="fas fa-sign-in-alt"></i></a></li>
                        </ul>
                    </div>
                </nav>
            {% endblock menuMobile %}
            {% block javascripts %}
                <!-- Javascripts ======================================================= -->
                <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
                <script src="{{ asset('js/ajax-action-handler.js') }}"></script>
                <script src="{{ asset('js/trick-form.js') }}"></script>
                <script src="{{ asset('js/trick-form-registry.js') }}"></script>
                <script src="{{ asset('js/trick-comment-form.js') }}"></script>
                <script src="{{ asset('js/trick-comment-form-registry.js') }}"></script>
                <script src="{{ asset('js/infinite-scroll.js') }}"></script>
                <script src="{{ asset('js/infinite-scroll-registry.js') }}"></script>
                <script src="{{ asset('js/arrow-scroll.js') }}"></script>
                <script src="{{ asset('js/trick-attachment-carousel.js') }}"></script>
            {% endblock javascripts %}
        </body>
    {% endblock body %}
</html>
