{% for trick in data %}
    <li id="{{ trick.id }}" class="trick-list-item col-lg-3 col-md-4 col-sm-6 mt-2">
        <article>
            <div class="embed-responsive embed-responsive-16by9 z-depth-1 mb-2">
                {% if trick.featuredAttachment is not null %}
                    <img class="trick-list-item-featured-attachment embed-responsive-item img-fluid mb-2 w-100"
                        src="{{ trick.featuredAttachment.src }}">
                    </img>
                {% else %}
                    <img class="trick-list-item-featured-attachment embed-responsive-item img-fluid mb-2 w-100"
                        src="{{ asset('img/snowtrick.jpg') }}">
                    </img>
                {% endif %}
            </div>
            <h2 class="trick-list-item-title d-inline-block">
                <a href="{{ url('get_trick', {'slug': trick.slug}) }}">
                    {{ trick.title }}
                </a>
            </h2>
            {% if is_granted('ROLE_USER') %}
                <ul class="trick-list-item-action-list list-inline float-right">
                    <li class="list-inline-item">
                        <a href="{{ url('get_trick_edit_form', {'slug': trick.slug}) }}">
                            <i class="trick-list-item-action-list-item-edit fas fa-pencil-alt"></i>
                        </a>
                    </li>
                    {% if is_granted('DELETE', trick) %}
                        <li class="list-inline-item">
                            <i class="trick-list-item-action-list-item-delete fas fa-trash ajax-action"
                                data-action="deleteTrick"
                                data-token="{{ csrf_token('security') }}"
                                data-url="{{ url('delete_trick', {'slug': trick.slug}) }}">
                            </i>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </article>
    </li>
{% endfor %}
