{% set trick = data.getData() %}
{% set form = data.createView() %}
{% if trick is null %}
    {% set title = 'Editing New Trick' %}
{% else %}
    {% set title = 'Editing «' ~ trick.title ~ '»' %}
{% endif %}
{% set description = title %}

{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock title %}
{% block description %}{{ description }}{% endblock description %}
{% block bodyOverlay %}
    <div id="trick-loader">
        <div class="status justify-content-center align-items-center">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class "message">
                <div id="trick-loader-message-in-progress">Uploading your files...</div>
                <div id="trick-loader-message-almost-done">Almost done now...</div>
            </div>
        </div>
    </div>
{% endblock bodyOverlay %}
{% block content %}
    {{ parent() }}
    <div class="trick-edit container-fluid"
        style="background:url({{ asset('img/snowtrick.jpg') }});background-repeat:no-repeat;background-size:100% 100vh;min-height:100vh;">
        <div class="row">
            <div class="trick-edit-content col-md-8 offset-md-2 bg-white">
                <div class="row">
                    {% if trick is not null and trick.featuredAttachment is not null %}
                        {% set src = trick.featuredAttachment.src %}
                    {% else %}
                        {% set src = 'img/snowtrick.jpg' %}
                    {% endif %}
                    <header class="trick-edit-header col text-center justify-content-center p-0">
                        <div class="trick-edit-header-overlay"></div>
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                            <img class="trick-edit-header-featured-attachment embed-responsive-item w-100"
                                src="{{ asset(src) }}">
                            </img>
                        </div>
                        <h1 class="trick-edit-title">{{ title }}</h1>
                        <ul class="trick-edit-attachment-action-list list-inline position-absolute p-1">
                            <li class="list-inline-item">
                                <i class="trick-edit-attachment-action-list-edit-embed-item fas fa-paste trick-edit-attachment-modal-button ajax-action"
                                    data-action="editEmbedTrickAttachment"
                                    data-toggle="modal"
                                    data-target="#trick-attachment-modal"
                                    title="{{ 'trick.edit.form.button.add_embedded_attachment'|trans }}">
                                </i>
                            </li>
                            <li class="list-inline-item">
                                <i class="trick-edit-attachment-action-list-edit-file-item fas fa-file-upload trick-edit-attachment-modal-button ajax-action"
                                    data-action="editUploadTrickAttachment"
                                    data-toggle="modal"
                                    data-target="#trick-attachment-modal"
                                    title="{{ 'trick.edit.form.button.add_uploaded_attachment'|trans }}">
                                </i>
                            </li>
                        </ul>
                    </header>
                </div>
                <div class="row py-3">
                    <div class="trick-edit col-12">
                        {% include 'trick/attachment/add-modal.html.twig' %}
                        {% include 'trick/attachment/collection.html.twig' with {'entity': trick, 'edit': true} %}
                        {% include 'trick/edit-form.html.twig' with {'trick': trick, 'data': data} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
