{% set trick = data.getData() %}
{% set form = data.createView() %}
{% if trick is null %}
    {% set title = 'Editing New Trick' %}
{% else %}
    {% set title = 'Editing «' ~ trick.title ~ '»' %}
{% endif %}
{% set description = title %}

{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock title %}
{% block description %}{{ description }}{% endblock description %}
{% block content %}
    {{ parent() }}
    <div class="trick-edit container-fluid"
        style="background:url({{ asset('img/snowtrick.jpg') }});background-repeat:no-repeat;background-size:100% 100vh;min-height:100vh;">
        <div class="row">
            <div class="trick-edit-content col-md-8 offset-md-2 bg-white">
                <div class="row">
                    {% if trick is not null and trick.featuredAttachment is not null %}
                        {% set src = trick.featuredAttachment.src %}
                    {% else %}
                        {% set src = 'img/snowtrick.jpg' %}
                    {% endif %}
                    <header class="trick-edit-header col text-center justify-content-center p-0">
                        <div class="trick-edit-header-overlay"></div>
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                            <img class="trick-edit-header-featured-attachment embed-responsive-item w-100"
                                src="{{ asset(src) }}">
                            </img>
                        </div>
                        <h1 class="trick-edit-title">{{ title }}</h1>
                        <ul class="trick-edit-attachment-action-list list-inline position-absolute p-1">
                            <li class="list-inline-item">
                                <i class="trick-edit-attachment-action-list-edit-embed-item fas fa-paste trick-edit-attachment-modal-button ajax-action"
                                    data-action="editEmbedTrickAttachment"
                                    data-toggle="modal"
                                    data-target="#trick-attachment-modal"
                                    title="{{ 'trick.edit.form.button.add_embedded_attachment'|trans }}">
                                </i>
                            </li>
                            <li class="list-inline-item">
                                <i class="trick-edit-attachment-action-list-edit-file-item fas fa-file-upload trick-edit-attachment-modal-button ajax-action"
                                    data-action="editUploadTrickAttachment"
                                    data-toggle="modal"
                                    data-target="#trick-attachment-modal"
                                    title="{{ 'trick.edit.form.button.add_uploaded_attachment'|trans }}">
                                </i>
                            </li>
                        </ul>
                    </header>
                </div>
                <div class="row py-3">
                    <div class="trick-edit col-12">
                        {{ form_start(form, {'attr': {'id': 'trick-edit-' ~ random() }, 'class': 'row'}) }}
                            {% block trickAttachmentAddModal %}
                                {% include 'trick/attachment/add-modal.html.twig' %}
                            {% endblock trickAttachmentAddModal %}
                            {% block trickAttachmentCollection %}
                                {% include 'trick/attachment/collection.html.twig' with {'entity': trick, 'edit': true} %}
                            {% endblock trickAttachmentCollection %}
                            {{ form_errors(form) }}
                            <div class="trick-edit-attachments col-12 form-group">
                                {{ form_errors(form.attachments) }}
                                {{ form_widget(
                                    form.attachments,
                                    {
                                        'label': false,
                                        'attr': {
                                            'class': 'd-none'
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="trick-edit-title col-12 form-group">
                                {{ form_errors(form.title) }}
                                {{ form_row(
                                    form.title,
                                    {
                                        'attr': {
                                            'label': 'trick.edit.form.label.title'|trans,
                                            'placeholder': 'trick.edit.form.placeholder.title'|trans,
                                            'class': 'form-control-sm'
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="trick-edit-title col-12 form-group">
                                {{ form_errors(form.description) }}
                                {{ form_row(
                                    form.description,
                                    {
                                        'attr': {
                                            'label': 'trick.edit.form.label.description'|trans,
                                            'placeholder': 'trick.edit.form.placeholder.description'|trans,
                                            'class': 'form-control-sm'
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="trick-edit-body col-12 form-group">
                                {{ form_errors(form.body) }}
                                {{ form_row(
                                    form.body,
                                    {
                                        'attr': {
                                            'label': 'trick.edit.form.label.body'|trans,
                                            'placeholder': 'trick.edit.form.placeholder.body'|trans,
                                            'class': 'form-control-sm',
                                            'rows': '10'
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="trick-edit-group col-sm-12 col-lg-3 form-group">
                                {{ form_errors(form.group) }}
                                {{ form_row(
                                    form.group,
                                    {
                                        'attr': {
                                            'label': 'trick.edit.form.label.group'|trans,
                                            'placeholder': 'trick.edit.form.placeholder.group'|trans,
                                            'class': 'form-control-sm'
                                        }
                                    }
                                ) }}
                            </div>
                            <div class="col-12 text-right">
                                {% if trick is not null and app.request.attributes.get('_route_params').slug is defined %}
                                    <div class="trick-edit-delete d-inline">
                                        <div
                                            class="btn btn-sm btn-danger ajax-action"
                                            data-redirection="{{ url('get_home') }}"
                                            data-action="deleteTrick"
                                            data-url="{{ url('delete_trick', app.request.attributes.get('_route_params')) }}"
                                            data-token="{{ csrf_token('security') }}">
                                                {{ 'trick.edit.form.button.delete'|trans() }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="trick-edit-submit d-inline">
                                    {{ form_widget(
                                        form.submit,
                                        {
                                            'label': 'trick.edit.form.button.save',
                                            'attr': {'class': 'btn-sm btn-primary'}
                                        }
                                    ) }}
                                </div>
                            </div>
                            {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
