{% extends 'base.html.twig' %}
{% set entity = data %}
{% block title %}{{ entity.title }}{% endblock title %}
{% block description %}{{ data.description }}{% endblock description %}
{% block content %}
    {{ parent() }}
    <div id="{{ entity.id }}" class="trick-show container-fluid"
        style="background:url({{ asset('img/snowtrick.jpg') }});background-repeat:no-repeat;background-size:100% 100vh;min-height:100vh;">
        <div class="row">
            <div class="trick-show-content col-md-8 offset-md-2 bg-white">
                <div class="row mb-4">
                    {% if entity.featuredAttachment is not null %}
                        {% set src = entity.featuredAttachment.src %}
                    {% else %}
                        {% set src = asset('img/snowtrick.jpg') %}
                    {% endif %}
                    <header class="trick-show-header col text-center justify-content-center p-0">
                        <div class="trick-show-header-overlay"></div>
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                            <img class="trick-show-header-featured-attachment embed-responsive-item w-100"
                                src="{{ asset(src) }}">
                            </img>
                        </div>
                        {% if is_granted('ROLE_USER') %}
                            <ul class="trick-show-action-list list-inline position-absolute">
                                <li class="list-inline-item">
                                    <a href="{{ url('get_trick_edit_form', {'slug': entity.slug}) }}">
                                        <i class="trick-show-action-list-item-edit fas fa-pencil-alt"></i>
                                    </a>
                                </li>
                                {% if is_granted('DELETE', entity) %}
                                    <li class="list-inline-item">
                                        <i class="trick-show-action-list-item-delete fas fa-trash ajax-action"
                                            data-action="deleteTrick"
                                            data-redirection="{{ url('get_home') }}"
                                            data-token="{{ csrf_token('security') }}"
                                            data-url="{{ url('delete_trick', {'slug': entity.slug}) }}">
                                        </i>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                        <h1 class="trick-show-title">{{ block('title') }}</h1>
                    </header>
                </div>
                {% if entity.attachments is not empty %}
                    {% include 'trick/attachment/collection.html.twig' with {'entity': entity} %}
                {% endif %}
                <div class="row mt-4">
                    <div class="trick-show-description col">
                        {{ entity.description|nl2br }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="trick-show-body col">
                        {{ entity.body|nl2br }}
                    </div>
                </div>
                <div class="row mt-4">
                    <ul class="trick-show-meta-list col list-unstyled list-inline text-center">
                        {% if entity.group is not null %}
                            <li id="{{ entity.group.id }}" class="trick-show-goup list-inline-item badge badge-pill badge-secondary">
                                {{ 'trick.show.group.label'|trans() }}: {{ entity.group.title }}
                            </li>
                        {% endif %}
                        <li id="{{ entity.author.id }}" class="trick-show-author list-inline-item badge badge-pill badge-secondary">
                            {{ 'trick.show.author.label'|trans() }}: {{ entity.author.username }}
                        </li>
                        {% if entity.updatedAt is defined %}
                            <li class="trick-show-updated-at list-inline-item badge badge-pill badge-secondary">
                                {{ 'trick.show.updated_at.label'|trans() }}: {{ entity.updatedAt|date() }}
                            </li>
                        {% else %}
                            <li class="trick-show-created-at list-inline-item badge badge-pill badge-secondary">
                                {{ 'trick.show.created_at.label'|trans() }}: {{ entity.createdAt|date("m/d/Y") }}
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-8 offset-lg-2">
                        {% if is_granted('ROLE_USER') %}
                            <div class="row mt-4">
                                <div class="trick-show-comment-edit col-12">
                                    {{ render(controller('App\\Controller\\TrickCommentController::getTrickCommentEmptyEditForm', {}, {'attribute[thread]': entity.id, 'attribute[parent]': null})) }}
                                </div>
                            </div>
                        {% endif %}
                        <ul id="infinite-scroll-{{ random() }}"
                            class="trick-show-comment-list row mt-4 list-unstyled infinite-scroll"
                            data-url="{{ url('get_trick_comment_collection') }}?attribute[thread]={{ entity.id }}&attribute[parent]=&order[createdAt]=DESC">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
