{% for trick in tricks %}
    <li id="{{ trick.id }}" class="trick-list-item col-lg-3 col-md-4 col-sm-6 mt-2">
        <article>
            <img class="trick-list-item-attachment img-fluid mb-2"
                style="width:100%;"
                src="{{ (trick.featuredAttachment is not null) ? trick.featuredAttachment.src : 'http://via.placeholder.com/200x100' }}"
                alt="{{ (trick.featuredAttachment is not null) ? trick.featuredAttachment.alt : '' }}">
            </img>
            <h2 class="trick-list-item-title d-inline-block" style="font-size:15px;">
                <a href="{{ url('trick_show', {'slug': trick.slug}) }}">
                    {{ trick.title }}
                </a>
            </h2>
            {% if is_granted('ROLE_USER') %}
                <ul class="trick-list-item-action-list list-inline float-right">
                    <li class="list-inline-item">
                        <i class="trick-list-item-action-list-item-edit fas fa-pencil-alt ajax-action"
                            style="cursor:pointer;"
                            data-url="">
                        </i>
                    </li>
                    <li class="list-inline-item">
                        <i class="trick-list-item-action-list-item-delete fas fa-trash ajax-action"
                            style="cursor:pointer;"
                            data-action="deleteTrick"
                            data-token="{{ csrf_token('trick-delete') }}"
                            data-url="{{ url('trick_delete', {'id': trick.id}) }}">
                        </i>
                    </li>
                </ul>
            {% endif %}
        </article>
    </li>
{% endfor %}
