{% extends 'base.html.twig' %}
{% block title %}{{ 'user.password_reset_request.page.title'|trans }}{% endblock title %}
{% block description %}{{ 'user.password_reset_request.page.description'|trans }}{% endblock description %}
{% block content %}
    {{ parent() }}
    <div class="password-reset-request container-fluid">
        <div class="row mt-5">
            <div class="col-md-4 offset-md-4 text-center justify-content-center">
                <h1>{{ block('title') }}</h1>
                <div class="row my-4">
                    <div class="col p-4 border rounded">
                        {{ form_start(form) }}
                            {{ form_errors(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
