{% extends 'User/layout.form.html.twig' %}
{% block user_content %}
    {{ parent() }}
    <h1>{{ 'user.reset_password.form.title'|trans }}</h1>
    {{ form_start(form) }}
        {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock user_content %}
